* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 13px;
}

body {
  background-color: #e1e1e1;
}

table {
  width: 100%;
  border-spacing: 0px 10px;
}

tbody tr td {
  background-color: white;
  padding: 15px;
  vertical-align: top;
  height: 50px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  white-space: pre-line;
  &:not(.right-corner) {
    border-right: 1px solid #e5e5e5;
  }
}

.left-corner {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: 1px solid transparent;
}

.right-corner {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 1px solid transparent;
}

thead tr th {
  background-color: white;
  height: 50px;
  text-align: left;
  padding: 0px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  &:not(.right-corner) {
    border-right: 1px solid #e5e5e5;
  }
}

.action-bar {
  display: flex;
  align-items: center;
  background-color: red;
  height: 70px;
  border-radius: 15px;
  padding-left: 15px;
  margin-top: 10px;
}

table {
  tbody {
    tr:not(.no-hover-border) {
      &:hover {
        td {
          border-top: 1px solid #03ea76;
          border-bottom: 1px solid #03ea76;
        }
        .right-corner {
          border-right: 1px solid #03ea76;
        }
        .left-corner {
          border-left: 1px solid #03ea76;
        }
      }
    }
    tr:not(.no-hover-bg) {
      &:hover {
        background-color: #eaf7ee;
        td {
          background-color: transparent;
        }
      }
    }
  }
}

table {
  tbody {
    tr {
      cursor: pointer;
      &:hover {
        .show-on-hover {
          * {
            visibility: visible;
          }
        }
      }
    }
  }
}

.show-on-hover {
  * {
    visibility: hidden;
  }
}

.reference-column {
  background-color: red;
  color: white;
}

.mr {
  margin: 0px 10px;
}
